<main>
  <header [alerts]="false"></header>
<div id="instructions">
<h1>Welcome, to the Genomic Context Viewer!</h1>
<p>
The Genomic Context Viewer (GCV) is a web-app that visualizes genomic context data provided by third party services, such as the <a target="_blank" href="http://www.legumeinfo.org">Legume Information System</a>.
It allows users to view regions of genomes considered primarily with respect to the ordering and orientation of their annotated gene content.
By handling sequences of gene family memberships as a unit of search and comparison, the user interface is made sufficiently responsive to enable quick assessment of the levels of conservation, novelty, and various types of structural events that can serve to direct the user to more detailed explorations at finer levels of granularity in other tools.
</p>
<app-gene-search></app-gene-search>
<!--
<h2>Use Cases</h2>
<p>Some use cases should go here</p>
<h2>Enter your gene name here</h2>
<app-gene-search></app-gene-search>
-->
<h2>Examples</h2>
<li>
Common bean gene <a href="/lis_context_viewer/#/search/lis/phavu.Phvul.002G085200?neighbors=10&matched=4&intermediate=5&algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&regexp=&order=distance&sources=lis">phavu.Phvul.002G085200</a> highly conserved across syntenic contexts among legumes (with inversion in soybean)
</li>
<li>
"Search" (<b><i>reference-aligned</i></b>) <a href="/lis_context_viewer/#/search/lis/medtr.Medtr3g110360?neighbors=8&sources=lis&regexp=&matched=4&intermediate=5&algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&order=distance">view of the Medicago truncatula gene (medtr.Medtr3g110360)</a> (try the Dotplots tab on this too) </li>
<li>
"Multi" (<b><i>within-cluster multiple alignment</i></b>) <a href="/lis_context_viewer/#/multi/lotja.Lj0g3v0166889,cicar.Ca_05015_gene,glyma.Glyma.06G088000,glyma.Glyma.04G086500,araip.Araip.Z4RG3,vigra.Vradi05g08580,araip.Araip.0T13B,medtr.Medtr3g110360,cajca.C.cajan_36467_gene,phavu.Phvul.009G111700,aradu.Aradu.M206V?neighbors=8&sources=lis&regexp=">view of a set of genes</a> from the same family (tryptophan-tRNA ligase). </li>
<h2>Feedback and features and bugs, oh my!</h2>
<p>GCV is on GitHub: <a target="_blank" href="https://github.com/legumeinfo/lis_context_viewer">https://github.com/legumeinfo/lis_context_viewer</a>. Swing by, if you feel so inclined.</p>
</div>
</main>
