<main>
  <header [alerts]="false"></header>
    <div id="instructions">
    <h1>Welcome, to the Genomic Context Viewer!</h1>
    <p>
    The Genomic Context Viewer (GCV) is a web-app that visualizes genomic context data provided by third party services, such as the <a target="_blank" href="http://www.legumeinfo.org">Legume Information System</a>.
    It allows users to view regions of genomes considered primarily with respect to the ordering and orientation of their annotated gene content.
    By handling sequences of gene family memberships as a unit of search and comparison, the user interface is made sufficiently responsive to enable quick assessment of the levels of conservation, novelty, and various types of structural events that can serve to direct the user to more detailed explorations at finer levels of granularity in other tools.
    </p>
    <app-gene-search></app-gene-search>
    <!--
    <h2>Use Cases</h2>
    <p>Some use cases should go here</p>
    -->
    <h2>Examples</h2>
    <ul>
    <li>
    <b>Legume Information System</b> query gene: <a href="/lis_context_viewer/#/search/lis/phavu.Phvul.002G085200?numNeighbors=10&numMatchedFamilies=4&numNonFamily=5&algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&track_regexp=&order=distance&sources=lfo&sources=lis">phavu.Phvul.002G085200</a> 
    <br>Common bean gene highly conserved across syntenic contexts among legumes (with inversion in soybean) and fabidae species (prupe=peach, cucsa=cucumber) from <b>Phytozome</b>
    </li>
    <!-- for reasons I don't have time to understand, this version of the link is not returning a view, though seemingly not producing any errors either...
    <li>
    Synteny with Arabidopsis thaliana <a href="/lis_context_viewer/#/search/lfo/arath.Col.AT5G07830?numNeighbors=15&numMatchedFamilies=4&numNonFamily=8&algorithm=smith&match=10&mismatch=-1&gap=-1&score=40&threshold=25&track_regexp=&order=distance&sources=lfo&sources=lis">AT5G07830</a> as query
    </li>
    -->
    <li>
    <b>Phytozome</b> Legume Federation Outgroups (non-legume) query gene: <a href="/lis_context_viewer/#/search/lfo/arath.Col.AT5G07830?sources=lfo%2Clis&algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&order=distance&neighbors=20&matched=4&intermediate=5&bmatched=8&bintermediate=10&bmask=10&regexp=">arath.Col.AT5G07830</a> 
    <br>Arabidopsis thaliana synteny to self and fabidae species
    </li>
    <li>
    <b>CSFLdb</b> wild chickpea query gene: <a href="/lis_context_viewer/index.html#/search/cicre/cicre.Cr_11709?neighbors=20&sources=lfo%2Clis%2Ccicre&matched=4&intermediate=5&algorithm=smith-waterman&match=10&mismatch=-1&gap=-1&score=30&threshold=25&regexp=cicre%7Ccicar%7Cmedtr%7Carath&order=distance&bmatched=20&bintermediate=10&bmask=10">cicre.Cr_11709</a> 
    <br>synteny with cultivated chickpeas, Medicago truncatula, Arabidopsis thaliana
    </li>
    <li>
    <b>Noble Alfalfa Breeder's Toolbox</b> diploidized cultivated alfalfa (CADL) query gene: <a href="/lis_context_viewer/#/search/medsa/medsa.CADL_HM342.v1_0.MSAD_306863?algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&order=distance&bmatched=5&bintermediate=10&bmask=10&neighbors=20&matched=4&intermediate=5&regexp=med&sources=lis%2Cmedsa">medsa.CADL_HM342.MSAD_306863</a> 
    <br>corresponding haplotypes from CADL assembly, synteny with Medicago truncatula
    </li>
    <li>
    Homeobox-leucine zipper protein family <a href="http://legumeinfo.org/chado_phylotree/phytozome_10_2.59053124?hilite_node=arath.AT4G37790.1,arath.AT2G22800.1">Gene Tree at LIS</a>; in the tree, click on one of the highlighted Arabidopsis genes, then choose the "Find similar contexts" link to return to the LegFed Context Viewer to see synteny for the region containing the gene.
    </li>
    <li>
    <a href="/lis_context_viewer/#/multi/lotja.Lj0g3v0166889%2Ccicar.Ca_05015_gene%2Cglyma.Glyma.06G088000%2Cglyma.Glyma.04G086500%2Caraip.Araip.Z4RG3%2Cvigra.Vradi05g08580%2Caraip.Araip.0T13B%2Cmedtr.Medtr3g110360%2Ccajca.C.cajan_36467_gene%2Cphavu.Phvul.009G111700%2Caradu.Aradu.M206V%2Carath.Col.AT2G25840?sources=lis%2Clfo&regexp=&neighbors=20&alpha=0.4&kappa=10&minsup=2&minsize=5">Multi-aligned view</a> of genes from a tryptophan-tRNA ligase family.
    </li>
    </ul>
    <h2>Feedback and features and bugs, oh my!</h2>
    <p>GCV is on GitHub: <a target="_blank" href="https://github.com/legumeinfo/lis_context_viewer">https://github.com/legumeinfo/lis_context_viewer</a>. Swing by, if you feel so inclined.</p>
    </div>
</main>
