<main>
  <header [alerts]="false"></header>
    <div id="instructions">
    <h1>Welcome, to the Genomic Context Viewer!</h1>
    <p>
    The Genomic Context Viewer (GCV) is a web-app that visualizes genomic context data provided by third party services, such as the <a target="_blank" href="http://www.legumeinfo.org">Legume Information System</a>.
    It allows users to view regions of genomes considered primarily with respect to the ordering and orientation of their annotated gene content.
    By handling sequences of gene family memberships as a unit of search and comparison, the user interface is made sufficiently responsive to enable quick assessment of the levels of conservation, novelty, and various types of structural events that can serve to direct the user to more detailed explorations at finer levels of granularity in other tools.
    </p>
    <!--
    <h2>Use Cases</h2>
    <p>Some use cases should go here</p>
    -->
    <h2>Examples</h2>
    <ul>
    <!-- for reasons I don't have time to understand, this version of the link is not returning a view, though seemingly not producing any errors either...
    <li>
    Synteny with Arabidopsis thaliana <a href="/lis_context_viewer/#/search/lfo/arath.Col.AT5G07830?numNeighbors=15&numMatchedFamilies=4&numNonFamily=8&algorithm=smith&match=10&mismatch=-1&gap=-1&score=40&threshold=25&track_regexp=&order=distance&sources=lfo&sources=lis">AT5G07830</a> as query
    </li>
    -->
    <li>
    Synteny with Arabidopsis thaliana <a href="/lis_context_viewer/#/search/lfo/arath.Col.AT5G07830?numNeighbors=8&sources=lfo&sources=lis&track_regexp=&numMatchedFamilies=4&numNonFamily=5&algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&order=distance">AT5G07830</a> as query
    </li>
    <li>
    Homeobox-leucine zipper protein family <a href="http://legumeinfo.org/chado_phylotree/phytozome_10_2.59053124?hilite_node=arath.AT4G37790.1,arath.AT2G22800.1">Gene Tree at LIS</a>; in the tree, click on one of the highlighted Arabidopsis genes, then choose the "Find similar contexts" link to return to the LegFed Context Viewer to see synteny for the region containing the gene.
    </li>
    <li>
    Common bean gene <a href="/lis_context_viewer/#/search/lis/phavu.Phvul.002G085200?numNeighbors=10&numMatchedFamilies=4&numNonFamily=5&algorithm=repeat&match=10&mismatch=-1&gap=-1&score=30&threshold=25&track_regexp=&order=distance&sources=lfo&sources=lis">Phvul.002G085200</a> highly conserved across syntenic contexts among legumes (with inversion in soybean) and fabidae (prupe=peach, cucsa=cucumber)
    </li>
    <li>
    <a href="/lis_context_viewer/#/multi/lotja.Lj0g3v0166889%2Ccicar.Ca_05015_gene%2Cglyma.Glyma.06G088000%2Cglyma.Glyma.04G086500%2Caraip.Araip.Z4RG3%2Cvigra.Vradi05g08580%2Caraip.Araip.0T13B%2Cmedtr.Medtr3g110360%2Ccajca.C.cajan_36467_gene%2Cphavu.Phvul.009G111700%2Caradu.Aradu.M206V%2Carath.Col.AT2G25840?sources=lis%2Clfo&regexp=&neighbors=20&alpha=0.4&kappa=10&minsup=2&minsize=5">Multi-aligned view</a> of genes from a tryptophan-tRNA ligase family.
    </li>
    </ul>
    <h2>Feedback and features and bugs, oh my!</h2>
    <p>GCV is on GitHub: <a target="_blank" href="https://github.com/legumeinfo/lis_context_viewer">https://github.com/legumeinfo/lis_context_viewer</a>. Swing by, if you feel so inclined.</p>
    </div>
</main>
