# included by /etc/nginx/conf.d/default.conf

location ${GCV_SUB_URI}liu2020/chromosome-region {
    proxy_pass http://liu2020-chromosome_region:8080/chromosome-region;
}

location ${GCV_SUB_URI}liu2020/search {
    proxy_pass http://liu2020-search:8080/search;
}

location ${GCV_SUB_URI}liu2020/services {
    proxy_pass http://liu2020-server:8000/services;
}
